body {
  font-family: 'Montserrat', sans-serif;
  padding: 20px 40px;
}

a {
  transition: all 0.3s;
  color: black;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s;
  color: grey;
}

* {
  box-sizing: border-box;
}